<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Interview</title>

</head>
<body>
    <h2>Edit Interview </h2>

    <form method="POST">
        <input type="date" name="interview_date" value="{{ interview.interview_date }}" required>
        <br><br>
        <!--
        HTML <input type="time"> expects HH:MM.
        Python time objects render as HH:MM:SS by default,
        so we format using strftime to avoid parsing errors.
        -->
        <input type="time" name="interview_time" value="{{ interview.interview_time.strftime('%H:%M') }}" required>
        <br><br>

        <input type="text" name="interview_type" value="{{ interview.interview_type }}" required>
        <br><br>

        <input type="number" name="round_number" value="{{interview.round_number }}" required>
        <br><br>
        <label>
            <input type="checkbox" name="is_final_round"
                {% if interview.is_final_round %}
                    checked
                {% endif %}
            >
            Final Interview Round
        </label>
        <br><br>

        <select name="status" value="{{ interview.status}}" required>
            <option>Scheduled</option>
            <option>Completed</option>
            <option>Cancelled</option>
        </select>
        <br><br>

        <select name="result" value="{{ interview.result}}" required>
            <option>Passed</option>
            <option>Rejected</option>
            <option>Awaiting Response</option>

        </select>
        <br><br>

        <textarea name="notes">{{ interview.notes }} </textarea>
        <br><br>

        <button type="submit">Update Interview </button>



    </form>


</body>
</html>